.leaflet-container {
    width: 100%; /* o cualquier ancho deseado */
    height: 100%; /* o cualquier altura deseada */
    border-radius: 5px;
    border-color: aqua;
    background-color: black;
    
  }